
.container {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    /* padding-left: 15%; */
    color:antiquewhite;

  }
  
  .card {
    width: 300px;
    height: 400px;
    margin: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    padding: 50px;
  }

