.container img{
    height: 50px;
    width: 70px;
  }

  /* .container{
    background-image: url("https://img.freepik.com/vector-premium/diseno-viajes-turismo_24908-34483.jpg");
    background-size: 100%;
  } */

  .container {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: bold;
  }

  .container img{
    height: 50px;
    width: 70px;
  }