.card{
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    border-radius: 5px;
    display:grid;
    justify-content: center;
}

.card img {
    width: 50px;
    height: 40px;
    margin: auto;
    }