.card{
    border: 1px solid black;
    width: 200px;
    height: fit-content;
    border-radius: 15px;
    display:inline-block;
    justify-content: center;
    margin: 1%;
    align-items: flex-end;
    justify-content: center;
    justify-content: space-between; 
    background-color: rgba(0, 0, 0, 0.534);
    font-family: "Sansation_Light";
    color:antiquewhite;
    /* overflow:unset */

}

.card img {
    width: 70px;
    height: 50px;
    margin: auto;
    margin-left: auto;
    align-items:stretch;
    padding-top: 10px;
    padding-left: 0px;
    transform: translate(-70%, 10%);

    }

.text{
    direction: ltr;
    align-items: center;
    justify-content: center;
    size: 10px;
    font-size: small;
    justify-items: center;
    transform: translate(0%, 5%);
    overflow:hidden;
    padding: 10px;
}



.container img:hover{
    cursor: pointer;
}