.card {
  width: 180px;
  height: 210px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.534);
  position: relative;
  padding: 0.2rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: hidden;
  display: inline-block;
  padding-top: 0px;
  margin: 1%;
  font-family: "Sansation_Light";
}

.cardDetails {
  color: rgb(218, 202, 202);
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}

.cardButton {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: blue;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.textBody {
  color: rgb(234, 225, 225);
  margin: 10px;

}

/*Text*/
.textTitle {
  font-size: 1em;
  font-weight: bold;
  color: rgb(234, 225, 225);
  margin: 10px;
  /* transform: translate(0%, -80%); */

}

/*Hover*/
.card:hover {
  border-color: blue;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .cardButton {
  transform: translate(-50%, -20%);
  opacity: 1;
}

.card img {
  width: 120px;
  height: 80px;
  margin: auto;
  margin-left: auto;
  align-items: stretch;
  padding-top: 10px;
  padding-left: 0px;
  transform: translate(25%, 0%);
  object-fit: cover;
}
