
  .container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 1px auto;
    padding: 10px;
    border: 3px solid #ccc;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.641);
    background-image: url("../../images//travel-the-world-.jpg");
    background-size: 20 contain;
    background-position: center;
    color:antiquewhite;

  }

  .container h1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 36px;
    color:antiquewhite;

  }

  .container div {
    display: flex;
    flex-direction: column;
    margin-bottom: -5px;
  }

  .container label {
    font-weight: bold;
    margin-bottom: 0px;
  }

  .container input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    font-size: 15px;
  }

  .container button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .container button:hover {
    background-color: white;
    color: blue;
  }

  .container p {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    transform: translate(-75%, -40%);
}

  .warning {
    border: solid rgb(255, 0, 0) 1px;
    border-radius: 0.2em;
  }
  
  .danger {
    font-size: 15px;
    color: rgb(255, 0, 0);
    margin-left: 20em;
  }