.container{
  display: flex;
    flex-direction: column;
    margin-bottom: -5px;
}


  .container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 20px auto;
    padding: 5px;
    border: 3px solid #ccc;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.641);
    background-image: url("../../images//travel-the-world-.jpg");
    background-size: contain;
    background-position: center;
    color:antiquewhite;
    flex-direction: column;

  }

  .container h1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 30px;
    color:antiquewhite;
  }

  .container select{
    text-align: center;
    margin-left: 35px;
    background-color: rgb(31, 146, 222);
    color:aliceblue;
  }

  .container div {
    /* flex-direction: column; */
    margin-bottom: -5px;
    display:flexbox
  }

  .container label {
    font-weight: bold;
    margin-bottom: 0px;
    background-color: rgba(69, 69, 131, 0.364);
  }

  .container input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
    font-size: 15px;
    width: 90%;
    margin-left: 10px;
    background-color: rgb(31, 146, 222);
    color:rgb(0, 1, 1);
  }

  .container input::placeholder {
    color: rgb(240, 232, 232);
  }

  .container button {
    padding: 0px 0px;
    border-radius: 5px;
    background-color: rgb(31, 146, 222);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .container button:hover {
    background-color: white;
    color: blue;
  }

  .container p {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-grow: 1;
    transform: translate(-75%, -40%);
    font-family: fantasy;
}
 
  .danger {
    font-size: 15px;
    color: rgb(255, 0, 0);
    margin-left: 20em;
  }

    
  .container button {
    background-color: blue;
    color: white;
    padding: 0px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 120px;
    margin-left: 50px;
  }

  .container button:hover {
    background-color: white;
    color: blue;
  }

