.container select {
    font-family: "Typewriter_Font";
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 2rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: 2px solid rgb(158, 158, 222);
    background-color: rgba(0, 0, 255, 0.905);
    color: antiquewhite;
  
    border-radius: 9px;
    appearance: none;
    margin-top: 0%;
  }