.container {
    text-align: justify;
    padding-left: 15%;
}

.navbar {
    background-color: #333;
    color: #fff;
    width: 200px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 20px;
    z-index: 2;
}


