.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  font-family: "Veteran";
}

.container h1 {
  font-size: 1.3rem;
  margin-bottom: 0.1rem;
  font-family: "Veteran";
  align-self: flex-start;
  transform: translate(0%, 70%);

}

.container input {
  width: 10%;
  height: 1.2rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-family: "Veteran";
  background-color: rgba(0, 0, 255, 0.66);
  transform: translate(0%, -50%);
  color: antiquewhite;
}

.container button {
  width: auto;
  height: auto;
  margin: 2rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Typewriter_Font";

  /* transform: translate(0%, 50%); */
}

.container button:hover {
  background-color: white;
  color: blue;
}

.search {
  display: contents;
  align-self: flex-start;
  flex-direction: row;
}

.search button {
  transform: translate(0%, -60%);
}

.search button:hover {
  background-color: white;
  color: blue;
}
