.container {
  padding-top: 40px;
}

.container h1 {
  font-size: 1rem;
  margin-bottom: 0.1rem;
  font-family: "Veteran";
  justify-content: center;
}

.search input {
  width: 70%;
  height: 1.2rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 5px;
}

.search input {
  background-color: rgba(0, 0, 255, 0.229);
  outline: none;
  color: antiquewhite;
}

.container select {
  font-family: "Typewriter_Font";
  align-items: center;
  width: 95%;
  height: 2rem;
  padding: 0.5rem;
  font-size: 0.9rem;
  border: 2px solid blue;
  border-radius: 5px;
  appearance: none;
}

.container select:focus {
  border-color: blue;
  outline: none;
  background-color: rgba(12, 12, 148, 0.715);
  color: antiquewhite;
}

.container button {
  width: auto;
  height: auto;
  margin: 2rem 0;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Typewriter_Font";
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: translate(20%, -5%); */
}

.buttonClear button {
  transform: translate(30%, 0%);
}

.container button:hover {
  background-color: white;
  color: blue;
}

.search {
  display: flex;
  align-self: flex-end;
  flex-direction: row;

  justify-content: center;
  margin: 0.5rem 0;
}

.search button {
  transform: translate(0%, -85%);
}

.search button:hover {
  background-color: white;
  color: blue;
}

.getActivity button {
  transform: translate(20%, 50%);
}
