.contain {    
  font-family: "Sansation_Light";
  }

  .conta{
    background-color: rgba(0, 0, 0, 0.678);
    color:rgb(242, 239, 236);
    border: 1px solid #ccc;
    margin: 30px auto;
    text-align: justify;
    border-radius: 10px;
    width: 900px;
    padding: 10px;


  }
  
  .info h1 {
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: bolder;
  }
  
  .info p {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bolder;
    

  }
  
  .info ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .info li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .info a {
    text-decoration: none;
    color: #dbe1e7;
  }
  
  .info img {
    height: 30px;
    margin-left: 10px;
    transform: translate(-120%, 10%);

  }

  .contain button {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 50px;
  }

  .contain button:hover {
    background-color: white;
    color: blue;
  }