.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 82px;

  }
  
  a {
    color: black;
    text-decoration: none;
    margin: 5px 120px;
  }

  a:hover {
    cursor: pointer;
  }

  .navbar{
    position: fixed;
    background-color: #333;
    width: 100%;
    left: 0;
    padding: 20px 82px;
    align-items: center;
    justify-content: space-between;


  }